.navbar-wrapper {
display: grid;
    grid-template-columns: 2% 2% 2% 2%;
    transform: translate(84%,77%);
    padding-bottom: 2%;
    grid-column-gap: 1.5%;

}

.navbar-icon {
    font-size: 17px;
}