.heading {
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: #263238;
    width: 15%;
    transform: translateX(22%);
    margin-top: 3%;

}