.column-1-wrapper {
  display: grid;
  grid-template-columns: 10% 80%;
  justify-content: flex-start;
  grid-column-gap: 2%;
}

.column-1-item1 {
  align-self: start;
  text-align: right;
}

.inner-wrapper {
  display: grid;
}
.ean {
    font-size: 14px;
line-height: 17px;
color: #90A4AE;
}

.inner-item {
  align-self: start;
  text-align: left;
  color: #d5dde1;
}

.image-medium {
  width: 50px;
  height: 50px;
}
.table-head-row th{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

th {
  color: #91a5ae;
}
table {
    border-collapse: separate;
    border-spacing: 0 8px;
}
td {
    background-color: white;
    text-align: left;
    vertical-align: middle !important;
    }
.product-record{
background-color:white  !important;
box-shadow: 0px 5px 20px rgba(69, 83, 240, 0.1);
border-radius: 24px 24px 8px 8px; 
height: 80px;
    
}
.product-table{
    margin-right: 4%;
}

.round-bordered {
 border-radius: 24px !important;
 width: 104px;
}

.text-dark {
    color:#37474F
}

.dark {
    color: black;
}

.min-table-height{
    min-height: 100px;
}

.loader {
    position: absolute;
    top: 52%;
    left: 50%;
}

.record-1 {
background: #FFFFFF;
box-shadow: 0px 5px 20px rgba(69, 83, 240, 0.1);
border-radius: 24px 24px 8px 8px;
}

.record-n {
    background: #FFFFFF;
box-shadow: 0px 5px 20px rgba(69, 83, 240, 0.1);
border-radius: 24px 24px 8px 8px;
}

.column-1-container {
    width: 39%;
}